<web-app xmlns="http://java.sun.com/xml/ns/j2ee">
    <context-param>
        <param-name>driver</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>login</param-name>
        <param-value>chirauxf</param-value>
    </context-param>
    <context-param>
        <param-name>pwd</param-name>
        <param-value>moi</param-value>
    </context-param>
    <context-param>
        <param-name>dtb</param-name>
        <param-value>jdbc:postgresql://psqlserv/da2i</param-value>
    </context-param>
</web-app>